body {
    background-color: #F4F4F4 !important;
    max-width: 45rem !important;
    color: #444444;
    padding: 2rem;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden;
}

:not(section) > section, body p {
    text-align: justify;
    text-indent: 30px;
}

a {
    text-decoration: underline;
    color: #444444;
}

a[rel="mw:WikiLink"] {
    color: #444444;
    pointer-events: none;
    cursor: text !important;
    text-decoration: none;
}

tbody {
    width: 100%;
    max-width: 100%;
    overflow:scroll;
}
.mw-ref a:after, .sistersitebox, .vcard, .navbox, .stub, .ambox { /* these elements are in limbo to be removed */
    border: 1px solid green;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: none !important;
}

caption {
    font-size: 32px !important;
    margin-bottom: 15px;
}

/* elements need hiding */
.mw-reflink-text, .nomobile, .noprint, .reference, .infobox-title, .ambox-content, .hatnote:not(section .hatnote), .mw-linkback-text, #coordinates {
    display: none;
}

.hatnote {
    padding: 0px;
    font-size: 12px;
}

.hatnote a {
    text-decoration: underline;
    pointer-events: auto;
}

a img  {
    text-align: center !important;
    margin: auto;
    display: block;
    height: auto;
    border: none;
}

.tsingle {
    max-width: 100% !important;
    width: auto !important;
}

img {
    max-width: 100%;
}

figcaption, div.infobox-caption, div.thumbcaption {
    font-style: italic;
    font-size: 10px;
}

table.wikitable, table.infobox, td.infobox-full-data table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    table-layout: fixed;
}
tr {
    border: solid;
    border-width: 1px 0;
}

td {
    padding: 5px;
}

tbody tr:nth-child(even){
    background-color: rgba(0,0,0,0) !important;
}

tbody tr:nth-child(odd){
    background-color: #DDDDDD !important;
}

.hatnote.navigation-not-searchable {
    font-style: italic;
    font-size: 12px;
}

.gallery li, .multiimageinner div, .tsingle {
    display: inline-block;
    padding: 15px;
    font-size: 12px;
}

.multiimageinner .trow {
    display: inline-block;
    width: 100%;
}

ul.gallery {
    list-style: none;
    padding-left: 0;
}

figure, .trow {
    text-align: center;
}

/* infodatabase-specific */

.idb-header {
    font-size: 300%;
    margin-top: 0;
}

.idb-nav {
    text-align: center;
    margin-bottom: 60px;
}

.idb-footer {
    margin-top: 40px;
    text-align: center;
}

.idbquickfact {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin: none;
}

hr {
    border: none;
    border-top: 1px solid black;
}

input.xsearch {
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    background: none;
}

@media (prefers-color-scheme: dark) {
    body, th, td {
        background-color: #2b2b2b !important;
        color: #F4F4F4;
    }

    a, a[rel="mw:WikiLink"], input {
        color: #F4F4F4;
    }

    hr {
        border: 1px solid #F4F4F4;
    }

}